:root {
    --bg-colour: #f5faff;
    --border: #d1d3d7;       
    --code-bg: #e3eaf2;
    --code-colour: #111b27;
    --font-family: 'monospace';
    --code-font: '';
    --text-primary: #2e3338;   
    --text-secondary: #4f5660;
}

@font-face {
  font-family: 'monospace';
  src: url('/fonts/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'codeblock';
  src: url('/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'monospace';
  background-color: var(--bg-colour);
}

code {
  font-family: 'codeblock';
  background-color: var(--code-bg);
  color: var(--code-colour);
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1, h3 {
  color: var(--text-primary);
}
h2, h4 {
  color: var(--text-secondary);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 24px;
}
.blogheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
